*{
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: #1E6000;
    padding: 0 20px;
    color: white;
}
.inner-header{
    max-width: 1200px;
    margin: 0 auto;

}
.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}
.logo {
    width: 15%;
}
.nav-links{
    float: right;
}


.var{
    margin-left: -10%;
}
.user{
    margin-top: 25px;
    margin-right: 8px;
    margin-left: 36px;
}
.usertex{
    font-size: 13px;
}
ul li i{
    font-size: 22px;
}


.nav-links ul{
    display: flex;
    line-height: 100px;
}
.nav-links ul li{
    list-style: none;
    font-size: 20px;
}
.nav-links ul li a{
    margin: 0 15px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 10px;
}
.nav-links ul li a:hover{
    background-color: rgba(106, 235, 46, 0.795);
}
.mostrar-menu, .ocultar-menu{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.mostrar-menu:hover, .ocultar-menu:hover{
    font-size: 2.8rem;
    transition: all 0.2s;
}
.mostrar-menu{
    float: right;
    line-height: 100px;
}
#chk{
    position: absolute;
    visibility: hidden;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}


@media screen and (max-width:840px){

    .mostrar-menu, .ocultar-menu{
        display: block;
    }
    .nav-links ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(49, 177, 49, 0.699);
        top: 0;
        right: -100%;
        line-height: normal;
        padding-top: 80px;
        flex-direction: column;
        align-items: center;
        transition: all .3s;
    }
    .nav-links ul li{
        padding: 25px 0;
    }
    .ocultar-menu{
        position: absolute;
        top: 20px;
        right: 30px;
    }
    #chk:checked ~ .nav-links ul{
        right: 0;
    }
    .logo{
        width: 25%;
        margin-top: 6%;
    }
}