.minicu1 p{
    color: white;
    font-size: 16px;
    text-align: center;
    width: 75%;
    margin-left: 5%;
}
.minicu1 img{
    width: 45%;
    margin-left: 18%;
    margin-bottom: 8%;
}
.minicu2 p{
    color: white;
    font-size: 16px;
    text-align: center;
    width: 73%;
    margin-left: 6%;
    margin-top: -20%;
    margin-bottom: 10%;
}
.minicu2 img{
    width: 49%;
    margin-left: 18%;
}
@media screen and (max-width:850px){
    .minicu1 p {
        font-size: 12px;
        margin-top: 14%;
        width: 90%;
    }
    .minicu1 img{
        width: 81%;
        margin-left: 8%;
        margin-bottom: 10%;
    }
    .minicu2 p{
       font-size: 13px;
       width: 90%;
       margin-bottom: 30%;
       margin-top: 20%;
    }
    .minicu2 img{
        width: 80%;
    }
    .inicio-game{
        margin-top: 10%;
    }
}