.minicu1{
    color: white;
    text-align: center;
}
.minicu1 h4{
    margin-right: 7%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.par{
    width: 70%;
    font-size: 15px;
    padding-left: 13%;
    padding-bottom: 6%;
}
.par2{
    width: 75%;
    padding-left: 13%;
    padding-bottom: 4%;
    font-size: 15px;
}
.minicu2{
    color: white;
}
.par3{
    width: 77%;
    text-align: center;
    padding-left: 10%;
    padding-bottom: 4%;
    margin-top: -20%;
}
.par4{
    width: 55%;
    padding-left: 20%;
    padding-top: 8%;
}
.gasto img{
    width: 65%;
}
@media screen and (max-width: 850px){
    .par{
        font-size: 12px;
    }
    .par2{
        font-size: 13px;
    }
    .par3{
        font-size: 13px;
        margin-top: 3%;
    }
    .gasto img{
        width: 90%;
    }
    .par4{
        width: 100%;
        margin-left: -20%;
    }
    .inicio-game {
        margin-top: 8%;
    }
}