<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <title>Inicio - Finance Game</title>
</head>
<body>
    <nav class="navega">
        <div class="logo">
            <img src="/img/logo.png" style="width: 150px;" alt="" srcset="">
        </div>
        <div class="link">
        <ul>
            <div class="nav-tex">
            <li>
                <a href="#">Que es?</a>
            </li>
            <li>
                <a href="#">Intrucciones</a>
            </li>
            <li>
                <a href="#">Jugar</a>
            </li>
            <li>
                <a href="#">150 XP</a>
            </li>
        </div>
            <div class="user">
                <div class="img">
                    <img src="/img/user.jpg" style="width: 50px; height: 45px; border-radius: 90px;" alt="" srcset="">
                </div>
                <h4>Felipe Luis</h4>
                <a href="/">
                <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </ul>
    </div>
    </nav>

    <!-- Pag de que es-->
    <div class="container-1">
        <div class="img-1">
            <img src="/img/juego de finanzas-01.jpg" style="width: 55%;" alt="">
        </div>
        <div class="text-1">
            <h4>Que es FINANCE GAME?</h4>
            <p>Es una herramienta tecnologica que permite el aprendizaje activo de las finanzas personales y familiar de manera divertida y entretenida.</p>
        </div>
    </div>

    <div class="container-2">
        <div class="text-2">
            <h3>Puedes acceser a FINANCE GAME desde cualquiera de tus dispositivos.</h3>
        </div>
        <div class="img-2">
            <img src="" alt="">
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>