<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <title>Inicio - Finance Game</title>
</head>
<body>
    <!-- Navegacion responsiva -->
    <header>
        <div class="inner-header">
            <a href="../index.html">
           <img class="logo" src="../img/logo.png" alt=""></a>

            <input type="checkbox"  id="chk">
            <label for="chk" class="mostrar-menu">
            <i class="fas fa-bars"></i>
            </label>
            
            <nav class="nav-links">
                <ul class="var">
                    <li>
                        <a href="inicio.html">Que es?</a>
                    </li>
                    <li>
                        <a href="intru.html">Intrucciones</a>
                    </li>
                    <li>
                        <a href="game.html">Jugar</a>
                    </li>
                    <li>
                        <a href="#">150 XP</a>
                    </li>
                
                    <li>
                        <img class="user" src="../img/user.jpg" style="width: 50px; height: 45px; border-radius: 90px;" alt="">
                    </li>
                    <li>
                        <h6 class="usertex"><a href="#">Felipe Luis </a></h6>
                    </li>
                    <li>
                        <a href="../index.html">
                            <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                
               <label for="chk" class="ocultar-menu">
                <i class="fas fa-times"></i>
               </label>
            </ul>
            </nav>
        </div>
    </header>


    <!-- Pag de que es-->
    <div class="container-1">
        <div class="img-1">
            <img src="../img/juego de finanzas-01.jpg" alt="">
        </div>
        <div class="text-1">
            <h4>Que es FINANCE GAME?</h4>
            <p>Es una herramienta tecnologica que permite el aprendizaje activo de las finanzas personales y familiar de manera divertida y entretenida.</p>
        </div>
    </div>

    <div class="container-2">
        <div class="text-2">
            <h3>Puedes acceser a FINANCE GAME desde cualquiera de tus dispositivos.</h3>
        </div>
        <div class="img-2">
            <img src="../img/dev.png" alt="">
        </div>
        <div class="ico-2">
            <a href="intru.html">
            <i class="fas fa-arrow-circle-down"></i></a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>