<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/log.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="inicio">
            <div class="prin-img">
                <img src="../img/juego de finanzas-trap.png" alt="" srcset="" style="width:20%;">
            </div><br>

            <div class="form">
                <div class="form-cont">

                    <h4>Correo electronico</h4><br>
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="correo" id="" placeholder="nicolaslynch@gmail.com"><br>

                    <h4 style="margin-left: -30px;">Contraseña</h4><br>
                    <i class="fas fa-key"></i>
                    <input type="password" name="pass" id="" placeholder="***********"><br>

                    <div class="caja">
                        <i class="fas fa-exclamation-circle"></i> Haz olvidado tu contraseña?<br><br>
                    <input type="checkbox" name="" id="">Recordarme siempre.<br><br>
                </div>

                    <div class="btn"><a href="../">
                        <button class="btn-can">Cancelar</button></a>
                        <a href="inicio.html"><button class="btn-reg">Iniciar</button></a>
                    </div>
                    <div class="login">
                        <a href="reg.html">Crear Cuenta</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>