<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/play.css">
    <link rel="stylesheet" href="../css/play2.css">
    <title>Play-2 - Finance Game</title>
</head>
<body>
    <nav class="navega">
        <div class="logo"><a href="../index.html">
            <img src="../img/logo.png" style="width: 150px;" alt="" srcset=""></a>
        </div>
        <div class="link">
        <ul>
            <div class="nav-tex">
            <li>
                <a href="inicio.html">Que es?</a>
            </li>
            <li>
                <a href="intru.html">Intrucciones</a>
            </li>
            <li>
                <a href="game.html">Jugar</a>
            </li>
            <li>
                <a href="#">150 XP</a>
            </li>
        </div>
            <div class="user">
                <div class="img">
                    <img src="../img/user.jpg" style="width: 50px; height: 45px; border-radius: 90px;" alt="" srcset="">
                </div>
                <h4>Felipe Luis</h4>
                <a href="../index.html">
                <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </ul>
    </div>
    </nav>

    <!--Play pag.-->



    <div class="inicio-game">

        <div class="play-1">

            <div class="num-0"></div>
            
            <div class="cuatro">
                <div class="minicu1">
                    <p>Selecciona la respuesta correcta</p>
                <div class="preg">
                        <h4>1-Que son la finanzas?</h4>
                    <button><a href="#"><span>A</span>Tener mucho dinero para gastar.</a></button>
                    <button><a href="#"><span>B</span>Un conjunto de planes.</a></button>
                    <button><a href="#"><span>C</span>El arte y la ciencia de administrar el dinero.</a></button>
                    <button><a href="#"><span>D</span>A y B son correctas.</a></button>
                </div>
            </div>
                <div class="minicu2">
                    <div class="img-1">
               <img src="../img/ico/nube.png " style="width: 65%;" alt="">
            </div>
            </div>
            </div>

        </div>
        <div class="boton-play">
        <div class="play-boton"> <a href="play.html">
            <button>Anterior <i class="fas fa-chevron-right"></i> </button></a>
        </div>
        <div class="play-boton2"><a href="play3.html">
            <button>Siguiente <i class="fas fa-chevron-right"></i> </button></a>
        </div>
    </div>
    </div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>