<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/playfin.css">
    <title>Play - Finance Game</title>
</head>
<body>
     <!-- Navegacion responsiva -->
     <header>
        <div class="inner-header">
            <a href="../index.html">
           <img class="logo" src="../img/logo.png" alt=""></a>

            <input type="checkbox"  id="chk">
            <label for="chk" class="mostrar-menu">
            <i class="fas fa-bars"></i>
            </label>
            
            <nav class="nav-links">
                <ul class="var">
                    <li>
                        <a href="inicio.html">Que es?</a>
                    </li>
                    <li>
                        <a href="intru.html">Intrucciones</a>
                    </li>
                    <li>
                        <a href="game.html">Jugar</a>
                    </li>
                    <li>
                        <a href="#">150 XP</a>
                    </li>
                
                    <li>
                        <img class="user" src="../img/user.jpg" style="width: 50px; height: 45px; border-radius: 90px;" alt="">
                    </li>
                    <li>
                        <h6 class="usertex"><a href="#">Felipe Luis </a></h6>
                    </li>
                    <li>
                        <a href="../index.html">
                            <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                
               <label for="chk" class="ocultar-menu">
                <i class="fas fa-times"></i>
               </label>
            </ul>
            </nav>
        </div>
    </header>

    <!--Play pag.-->



    <div class="inicio-game">

        <div class="play-1">

            <div class="num-0"></div>
            
            <div class="cuatro">
                <div class="minicu1">
                   
                <img class="meda" src="../img/ico/medalla.png" alt="">
            </div>
                <div class="minicu2">
                    <p class="punto">Puntuacion</p>
                    <h4 class="nota">10/10</h4>
                    <h4 class="ex">Excelente!</h4>
                <p class="ex2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores reprehenderit rem ea maxime. Similique tenetur deleniti error optio porro accusamus sunt voluptatum facilis, nostrum, asperiores, quo laudantium sequi.
                </p>
                
            </div>
            </div>

        </div>
        <div class="boton-play">
        <div class="play-boton"> <a href="#">
            <button>Anterior <i class="fas fa-chevron-right"></i> </button></a>
        </div>
        <div class="play-boton2"><a href="game.html">
            <button>Siguiente <i class="fas fa-chevron-right"></i> </button></a>
        </div>
    </div>
    </div>
    

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>