<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/play.css">
    <title>Play - Finance Game</title>
</head>
 <!-- Navegacion responsiva -->
 <header>
    <div class="inner-header">
        <a href="../index.html">
       <img class="logo" src="../img/logo.png" alt=""></a>

        <input type="checkbox"  id="chk">
        <label for="chk" class="mostrar-menu">
        <i class="fas fa-bars"></i>
        </label>
        
        <nav class="nav-links">
            <ul class="var">
                <li>
                    <a href="inicio.html">Que es?</a>
                </li>
                <li>
                    <a href="intru.html">Intrucciones</a>
                </li>
                <li>
                    <a href="game.html">Jugar</a>
                </li>
                <li>
                    <a href="#">150 XP</a>
                </li>
            
                <li>
                    <img class="user" src="../img/user.jpg" style="width: 50px; height: 45px; border-radius: 90px;" alt="">
                </li>
                <li>
                    <h6 class="usertex"><a href="#">Felipe Luis </a></h6>
                </li>
                <li>
                    <a href="../index.html">
                        <i class="fas fa-sign-out-alt"></i></a>
                </li>
            
           <label for="chk" class="ocultar-menu">
            <i class="fas fa-times"></i>
           </label>
        </ul>
        </nav>
    </div>
</header>

    <!--Play pag.-->



    <div class="inicio-game">

        <div class="play-1">

            <div class="num-0"></div>
            
            <div class="cuatro">
                <div class="minicu1">
                <div class="title-1">
                    <img src="../img/ico/explainer1-01.png" style="width: 60%;" alt="">
                    <h4>Las FINANZAS se definen como el arte y ciencia de administrar el dinero.</h4>
                </div>
            </div>
                <div class="minicu2">
                <div class="title-2">
                    <h4>A nivel PERSONAL</h4>
                    <p>Afectan las decisiones individuales de cuanto dinero gastar de los ingresos, cuanto ahorrar y como invertir ahorros.</p>
                </div>
            
                <div class="title-3">
                    <h4>A nivel EMPRESARIAL</h4>
                    <p>Implican el mismo tipo de decisiones: como incrementar el dinero de los inversionistas, como invertir el dinero para obtener una utilidad, y de que modo convine reinvertir las ganancias de la empresa o distribuirlas entre los inversionistas.</p>
                </div>
            </div>
            </div>

        </div>
        <div class="boton-play">
        <div class="play-boton"> <a href="game.html">
            <button>Anterior <i class="fas fa-chevron-right"></i> </button></a>
        </div>
        <div class="play-boton2"><a href="play2.html">
            <button>Siguiente <i class="fas fa-chevron-right"></i> </button></a>
        </div>
    </div>
    </div>
    

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>