<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/playfin.css">
    <title>Play - Finance Game</title>
</head>
<body>
    <nav class="navega">
        <div class="logo"><a href="../index.html">
            <img src="../img/logo.png" style="width: 150px;" alt="" srcset=""></a>
        </div>
        <div class="link">
        <ul>
            <div class="nav-tex">
            <li>
                <a href="inicio.html">Que es?</a>
            </li>
            <li>
                <a href="intru.html">Intrucciones</a>
            </li>
            <li>
                <a href="game.html">Jugar</a>
            </li>
            <li>
                <a href="#">150 XP</a>
            </li>
        </div>
            <div class="user">
                <div class="img">
                    <img src="../img/user.jpg" style="width: 50px; height: 45px; border-radius: 90px;" alt="" srcset="">
                </div>
                <h4>Felipe Luis</h4>
                <a href="../index.html">
                <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </ul>
    </div>
    </nav>

    <!--Play pag.-->



    <div class="inicio-game">

        <div class="play-1">

            <div class="num-0"></div>
            
            <div class="cuatro">
                <div class="minicu1">
                   
                <img class="meda" src="../img/ico/medalla.png" alt="">
            </div>
                <div class="minicu2">
                    <p class="punto">Puntuacion</p>
                    <h4 class="nota">10/10</h4>
                    <h4 class="ex">Excelente!</h4>
                <p class="ex2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores reprehenderit rem ea maxime. Similique tenetur deleniti error optio porro accusamus sunt voluptatum facilis, nostrum, asperiores, quo laudantium sequi.
                </p>
                
            </div>
            </div>

        </div>
        <div class="boton-play">
        <div class="play-boton"> <a href="#">
            <button>Anterior <i class="fas fa-chevron-right"></i> </button></a>
        </div>
        <div class="play-boton2"><a href="game.html">
            <button>Siguiente <i class="fas fa-chevron-right"></i> </button></a>
        </div>
    </div>
    </div>
    

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>